<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>WEBChat</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/lib/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
  <link href="/lib/animate/animate.min.css" type="text/css" rel="stylesheet">
  <link href="/lib/ionicons/css/ionicons.min.css" type="text/css" rel="stylesheet">
  <link href="/lib/lightbox/css/lightbox.min.css" type="text/css" rel="stylesheet">
   
  <!-- Main Stylesheet File -->
  <link href="/css/style_home.css" type="text/css" rel="stylesheet">

</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header">
    
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!--<h1 class="text-light"><a href="#intro" class="scrollto"><span>WC</span></a></h1> -->
        <a href="#header" class="scrollto">
			<img src="/img/logo.png" alt="" class="img-fluid">
		</a> 
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#">Home</a></li>
        
          <li><a href="/users/login">Login</a></li>
		  
		  <li><a href="/users/signup">Register</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h2>WEB<span>Chat</span></h2>
		  <div class="intro-text">
		  <h3>A mainstream for people from different background to collaborate and share ideas!!</h3>
		  </div>
		      <div>
            <a href="/users/signup" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
  
        <div class="col-md-6 intro-img order-md-last order-first">
			<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="/img/chat_home1.png" alt="" class="img-fluid">
					</div>
					<div class="carousel-item">
						<img src="/img/chat_home2.png" alt="" class="img-fluid">
					</div>
					<div class="carousel-item">
						<img src="/img/chat_home3.png" alt="" class="img-fluid">
					</div>
					<div class="carousel-item">
						<img src="/img/chat_home4.png" alt="" class="img-fluid">
					</div>
				</div>
			</div>
    	</div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img src="img/about_image1.png" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>About Us</h2>
              <h3>We provide a common platform for people that can be leveraged to share thoughts and ideas!</h3>
              <p>As this entire world is moving towards e-learning/digitized learning during this COVID-19 pandemic, we decided to provide students a common chat platform for clarifying doubts related to academia, where people from their respective backgrounds could pitch in answering the queries posted. This was our initial objective.</p>
              <p>With an intent to extend the current service, we decided to give end users an option called chat room to discuss on individual topics of their interest.</p>
              <ul>
                <li><i class="ion-android-checkmark-circle"></i> A simple HTML5 based agentless online chat platform.</li>
                <li><i class="ion-android-checkmark-circle"></i> Native multi chat room functionality.</li>
                <li><i class="ion-android-checkmark-circle"></i> Seamless chat experience with websocket based connectivity.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section><!-- #about -->


    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container-fluid">
        
        <header class="section-header">
          <h3>Why choose us?</h3>
          <p>When it comes to data, user privacy is of utmost importance and we make sure that no chat data is stored in our databases.</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <div class="about-img">
              <img src="img/why_us.jpg" alt="">
            </div>
          </div>

          <div class="col-lg-6">
            <div class="why-us-content">
             
              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-object-group" style="color: #f058dc;"></i>
                <h4>Dynamic chat room topics</h4>
					<p>Few of the chat room topics are rotated based on the current trends, giving users an option to interact and brainstorm each others with the current trends around the world.</p>
              </div>

              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-shield" style="color: #ffb774;"></i>
                <h4>User data privacy</h4>
                <p>We ensure no chat data is stored in the database for further analytics or insights. We respect each individuals data and try our best to protect it's privacy.</p>
              </div>
			  
			  <div class="features wow bounceInUp clearfix">
                <i class="fa fa-plug" style="color: #589af1;"></i>
                <h4>Seamless chatting experience</h4>
                <p>We dont want to comprimise on the chatting experience delivered to our users. To ensure this we use websocket based connectivity in our client server model.</p>
              </div>
                          
            </div>

          </div>

        </div>

      </div>

      <div class="container">
        <div class="row counters">

          <div class="col-md-6 text-center">
            <span data-toggle="counter-up">66</span>
            <p>Registered users</p>
          </div>
		  
		  <div class="col-md-6 text-center">
            <span data-toggle="counter-up">3</span>
            <p>Active chat room topics</p>
          </div>
		             
        </div>

      </div>
    </section>

   
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/lib/easing/easing.min.js"></script>
  <script src="/lib/mobile-nav/mobile-nav.js"></script>
  <script src="/lib/wow/wow.min.js"></script>
  <script src="/lib/waypoints/waypoints.min.js"></script>
  <script src="/lib/counterup/counterup.min.js"></script>
  <script src="/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="/lib/lightbox/js/lightbox.min.js"></script>
 
  <!-- Template Main Javascript File -->
  <script src="/js/main_home.js"></script>
  
  <!-- Carousel slide show effect -->
  <script>
	$('.carousel').carousel({
	interval: 2000
	})
  </script>

</body>
</html>
